/**
 * Button Component Style for tingle
 * @author minjie.lmj
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

@require "../node_modules/tingle-style/src/var"

.tButton
  border 0
  outline none
  height getPX(88)
  line-height getPX(88)
  width getPX(670)
  border-radius getPX(10)
  font-size getPX(34)

.tButtonPrimary
  background #EA5630
  color #fff
  &.hover
    background #d85330

.tButtonSecondary
  background #f98c24
  color #fff
  &.hover
    background #d17925

.tButtonDanger
  background #fb3419
  color white
  &.hover
    background #e1351e

.tButton.disable
  color white
  background rgba(255, 255, 255, 0.4)