/**
 * Button Component Style for tingle
 * @author minjie.lmj
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */
@require "theme"

.btn
  border 0
  outline none
  height 40px
  line-height 40px
  font-size 16px
  border-radius 6px
  display block
  width 100%
  padding 0
  margin 0
  // https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color
  -webkit-tap-highlight-color transparent
  &.disabled
  &[disabled]
    color btn-disabled-color
    background btn-disabled-bg
    pointer-events none

/* Size */
.btn-small
  height 24px
  line-height 24px
  font-size 12px
.btn-large
  height 44px
  line-height 44px
  font-size 18px

/* Color Theme */
.btn-primary
  background btn-primary-bg
  color btn-primary-color
  &:active
    background btn-primary-bg-active
    color btn-primary-color-active
.btn-secondary
  background btn-secondary-bg
  color btn-secondary-color
  &:active
    background btn-secondary-bg-active
    color btn-secondary-color-active
.btn-danger
  background btn-danger-bg
  color btn-danger-color
  &:active
    background btn-danger-bg-active
    color btn-danger-color-active
.btn-text
  background btn-text-bg
  color btn-text-color
  &:active
    color lighten(btn-text-color, 50%)
  &.disabled
  &.disabled:hover
    background btn-text-bg
    color btn-text-disabled-color
