btn-primary-bg = #F80
btn-primary-color = #FFF
btn-primary-bg-active = darken(btn-primary-bg, 5%)
btn-primary-color-active = rgba(255,255,255,.5)

btn-secondary-bg = #FFF
btn-secondary-color = #666
btn-secondary-bg-active = darken(btn-secondary-bg, 5%)
btn-secondary-color-active = #999

btn-danger-bg = #fb3419
btn-danger-color = #FFF
btn-danger-bg-active = darken(btn-danger-bg, 5%)
btn-danger-color-active = rgba(255,255,255,.5)

btn-text-bg = transparent
btn-text-color = #0288FD
btn-text-disabled-color = #CCC

btn-disabled-bg = #CCC
btn-disabled-color = #999
